<nav class="navbar navbar-light bg-light px-0 px-md-2">
  <div class="container-fluid">
    <a routerLink="/" class="text-decoration-none text-dark fs-2">
      {{'APP_TITLE' | translate}}
    </a>
    <div class="d-flex flex-column flex-sm-row">
      <button class="btn btn-light bg-transparent me-3" type="button">
        <i class="bi bi-wallet-fill me-2"></i>
        <span data-test="app-header-balance">
          {{walletBalance | currency: currency!: 'symbol':'0.0-2'}}
        </span>
      </button>
      <button
        class="btn"
        [ngClass]="basketProductsCount ? 'btn-outline-primary' : 'btn-light'"
        data-test="app-header-basket"
        type="button"
        routerLink="/basket">
        <i *ngIf="basketProductsCount; else emptyBasketIcon" class="bi bi-cart-fill me-2"></i>
        <ng-template #emptyBasketIcon>
          <i class="bi bi-cart me-2"></i>
        </ng-template>
        <span>{{'BASKET' | translate}} ({{basketProductsCount}})</span>
      </button>
    </div>
  </div>
</nav>
