<app-layout>

  <div class="m-auto py-4 px-3 app-basket--container">

    <div class="d-grid gap-4">
      <app-basket-product
        *ngFor="let product of products$ | async"
        [product]="product"
        (removeFromBasket)="removeProduct($event)">
      </app-basket-product>
    </div>

    <hr>

    <div>
      {{'TOTAL_PRICE' | translate}}:
      {{totalPrice$ | async | currency: (currency$ | async)!: 'symbol': '0.0-2'}}
    </div>

    <hr>

    <div class="d-flex flex-column flex-sm-row">
      <button class="btn btn-primary" [disabled]="!(balanceSufficient$ | async)">
        {{'CHECKOUT' | translate}}
      </button>
      <span *ngIf="!(balanceSufficient$ | async)" class="text-danger p-2">
      {{'NOT_ENOUGH_FUNDS' | translate}}
    </span>
    </div>

  </div>

</app-layout>
