<form [formGroup]="form">

  <div class="row g-3 mb-3">

    <div class="col-12 col-sm-6">
      <label for="app-checkout-form-firstName" class="form-label">{{'CHECKOUT_FORM.FIRST_NAME' | translate}} *</label>
      <input formControlName="firstName" class="form-control"
             id="app-checkout-form-firstName" aria-describedby="app-check-form-firstNameHelp">
      <div
        *ngIf="form.controls.firstName.invalid && form.controls.firstName.touched"
        id="app-checkout-form-firstNameHelp"
        class="form-text text-danger">
        {{'CHECKOUT_FORM.THIS_FIELD_IS_REQUIRED' | translate}}
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <label for="app-checkout-form-lastName" class="form-label">{{'CHECKOUT_FORM.LAST_NAME' | translate}} *</label>
      <input formControlName="lastName" class="form-control"
             id="app-checkout-form-lastName" aria-describedby="app-check-form-lastNameHelp">
      <div
        *ngIf="form.controls.lastName.invalid && form.controls.lastName.touched"
        id="app-checkout-form-lastNameHelp"
        class="form-text text-danger">
        {{'CHECKOUT_FORM.THIS_FIELD_IS_REQUIRED' | translate}}
      </div>
    </div>

  </div>

  <div class="mb-3">
    <label for="app-checkout-form-street" class="form-label">{{'CHECKOUT_FORM.STREET' | translate}} *</label>
    <input formControlName="street" class="form-control"
           id="app-checkout-form-street" aria-describedby="app-check-form-streetHelp">
    <div
      *ngIf="form.controls.street.invalid && form.controls.street.touched"
      id="app-checkout-form-streetHelp"
      class="form-text text-danger">
      {{'CHECKOUT_FORM.THIS_FIELD_IS_REQUIRED' | translate}}
    </div>
  </div>

  <div class="row g-3 mb-3">
    <div class="col-12 col-sm-6">
      <label for="app-checkout-form-city" class="form-label">{{'CHECKOUT_FORM.CITY' | translate}} *</label>
      <input formControlName="city" class="form-control"
             id="app-checkout-form-city" aria-describedby="app-check-form-cityHelp">
      <div
        *ngIf="form.controls.city.invalid && form.controls.city.touched"
        id="app-checkout-form-cityHelp"
        class="form-text text-danger">
        {{'CHECKOUT_FORM.THIS_FIELD_IS_REQUIRED' | translate}}
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <label for="app-checkout-form-state" class="form-label">{{'CHECKOUT_FORM.STATE' | translate}} *</label>
      <input formControlName="state" class="form-control"
             id="app-checkout-form-state" aria-describedby="app-check-form-stateHelp">
      <div
        *ngIf="form.controls.state.invalid && form.controls.state.touched"
        id="app-checkout-form-stateHelp"
        class="form-text text-danger">
        {{'CHECKOUT_FORM.THIS_FIELD_IS_REQUIRED' | translate}}
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="app-checkout-form-email" class="form-label">{{'CHECKOUT_FORM.EMAIL' | translate}} *</label>
    <input formControlName="email" type="email" class="form-control"
           id="app-checkout-form-email" aria-describedby="app-check-form-emailHelp">
    <div
      *ngIf="form.controls.email.invalid && form.controls.email.touched"
      id="app-checkout-form-emailHelp"
      class="form-text text-danger">
      <ng-container *ngIf="form.controls.email.errors!['required']">
        {{'CHECKOUT_FORM.THIS_FIELD_IS_REQUIRED' | translate}}
      </ng-container>
      <ng-container *ngIf="form.controls.email.errors!['email']">
        {{'CHECKOUT_FORM.INVALID_EMAIL' | translate}}
      </ng-container>
    </div>
  </div>

  <div class="my-4" data-test="app-checkout-form-total-price">
    {{'TOTAL' | translate}}:
    {{totalPrice | currency: currency!: 'symbol': '0.0-2'}}
  </div>

  <button
    class="btn btn-primary"
    [disabled]="form.invalid"
    type="button"
    data-test="app-checkout-form-pay"
    (click)="onSubmit()">
    {{'CHECKOUT_FORM.PAY' | translate}}
  </button>

</form>
