<div class="row w-100">
  <img
    [src]="product.product.img"
    [alt]="product.product.name"
    class="app-basket-product--image">

  <div class="col py-2">
    <div data-test="basket-product-name" class="fw-bold">
      {{product.product.name}}
    </div>
    <div data-test="basket-product-price" class="mb-2">
      {{product.product.price | currency: currency: 'symbol': '0.0-2'}}
    </div>
  </div>

  <div class="col-2 col-sm-1">
    <button
      class="btn"
      [title]="'REMOVE_FROM_BASKET' | translate"
      data-test="remove-from-basket-button"
      [disabled]="product.dirty"
      (click)="removeFromBasket.emit(product.product)">
      <i class="bi bi-trash3-fill"></i>
    </button>
  </div>

</div>
